name: backend-CI

on:
  pull_request:
    branches: [dev, master]
    paths: "backend/**"
  push:
    master: [dev, master]
    paths: "backend/**"

defaults:
  run:
    working-directory: backend/

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: install deps
        run: npm ci
